.aboutDescription{
    color: var(--white);
    text-align: justify;
    padding: 8px;
    border-radius: 0.5px;
    font-size: 1.3em;
    font-weight: 500;
    margin-right: 1em;
}

.imgStyle{
    position: relative;
    max-width: 300px;
    flex-direction: column;
}

.wrapper{
    display: block;
    width: 100%;
    border-radius: 0.5px;
    background-color: var(--primary-light);
}