.card{
  position: relative;
  width: 100%;
}

.innercard {
  width: 100%;
  height: auto;
  padding: 10px 0;
}

.innercard ul {
  padding: 0;
  margin: 0;
  list-style: square;
  font-size: 1em;
}

.innercard ul li {
  position: relative;
  margin-bottom: 20px;
}

.innercard h3 {
  margin-bottom: 2px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
}

.innercard .companylink {
  color: var(--primary-light);
}

.innercard .type {
  margin-bottom: 12px;
  font-size: 0.75rem;
}

.innercard .range {
  margin-bottom: 25px;
  color: var(--primary);
  font-size: 1rem;
}


@media screen and (max-width: 992px) {
    .card{
    max-width: 680px;
        height: 400px;
    }
  }
  @media screen and (max-width: 768px) {
      .card{
    min-height: 500px;
    height: auto;
      }
      .innercard{
        font-size: 1rem;
      }
      .innercard li{
        font-size: 15px;
      }
  }

  @media screen and (max-height: 500px) and (min-width: 992px) {
      .card{
    height: 350px;
      }
}


