@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import '../styles/variables.css';
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: var(--white);
}
html, body {
  min-height: 100%;
}
body {
  background: var(--black);
  background-repeat: no-repeat;
}
section{
  margin-bottom: 15vh;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

a{
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition-link)
}
a:hover{
  color: var(--primary);
}
a:focus{
  color: var(--primary);
}

/* layout & nav */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}

footer p{
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}

main {
  margin: 0 auto;
  min-height: 90vh;
  padding: 0 75px;
}
  @media (max-width: 480px) {
    main{
    padding: 0 50px;
    }
  }

  /* HEADING */
  .heading{
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0 10px;
    width:100%;
    font-size: 2em;
    color: var(--primary);
    font-size: clamp(26px, 5vw, 36px);
    white-space: nowrap;
  }
  .heading::after{
    content: '';
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--light-gray);
  }
  @media (max-width: 1080px) {
    .heading::after{
    width: 200px;
    }
  }
  @media (max-width: 768px) {
    .heading::after{
    width: 100%;
    }
  }
  @media (max-width: 600px) {
    .heading::after{
    margin-left: 10px;
    }
  }

  .section-title{
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
  }

  
.section-title::after{
  position: absolute;
  content: "";
  width: 10vw;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top:2rem;
  background-color: var(--primary-light);
}


  /* FLEX */
  .d-flx{
    display: flex;
  }
  .jstify-cnt-cntr{
    display: flex;
    justify-content: center;
  }
  .col {
    flex:1;
    text-align: center;
    position: static;
  }
  @media (max-width: 800px) {
    .d-flx {
      display: block;
    }
    .col {
        max-width: 100%;
        width: 100%;
        margin: 0 0 10px 0;
        text-align: center;
        padding-bottom: 2rem;
      }
    }



  .flx-d-col{
    flex-direction: column;
  }

/* ma rgin-24 */
.margin-24-bottom{
  margin-bottom: 24px;
}
.margin-40-top{
  margin-top: 40px;
}
.margin-10-left{
  margin-left: 10px;
}

/* COLORS */
.primarycolor{
  color: var(--primary);
  display: inline;
}

/* FONTS */
.defaultfont{
  font-size: 0.75em;
}

