@import '../styles/variables.css';
.header {
    padding-left: 24px;
    display: grid;
    grid-gap: 40px;
    align-items: center;
  }
  .header h2 {
    font-size: 4em;
  }
  .header h3 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .btn {
    display: inline-block;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 10px 16px;
    margin-top: 20px;
    font-weight: 500;
  }
  .btn:hover{
    background: var(--primary-opaque);
    box-shadow: var(--button-box-shadow);
  }
  
  .name{
      display: inline-block;
      color: var(--primary);
      font-size: 2.5em;
  }
