.header {
    display: flex;
    min-height: 100vh;
    position: relative;
    justify-content: center;
    flex-direction: column;
  }

  @media (max-width: 480px) and (min-height: 700px) {
   .header{
    padding-bottom: 10vh;
   }
  }

  .bigH{
    font-size : clamp(40px, 6vw, 80px);
  }

  .btnwrapper{
    display: flex;
  }
  @media(max-width: 320px){
    .btnwrapper{
      flex-direction: column;
    }
  }
  .btn {
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 10px 16px;
    margin: 20px 10px 0;
    font-weight: 500;
    white-space: nowrap;
  }
  .btn:hover{
    background: var(--primary-opaque);
    box-shadow: var(--button-box-shadow);
  }

  @media(max-width: 320px){
    .btn{
      display: flex; 
      flex-direction: row;
    }
  }
  
  .name{
      font-weight: 400;
      color: var(--primary);
      font-size: clamp(20px, 5vw, 24px);
  }
.meow{
  z-index: -1;
  position: absolute;
  top:  10px;
}

.headingDescription{
  color: white;
  margin: 20px 0 0;
  max-width: 100vw;
}

.sideelement {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: 40px; /* or auto */
  right: 40px; /* or 40px */
  z-index: 10;
  color: var(--primary);
  @media(max-width: 768px){
    display: none;
  }
}

.listlinks {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.listlinks:after {
  content: '';
  display: block;
  width: 1px;
  height: 100px;
  margin: 0 auto;
  background-color: var(--primary);
}

.listlinks:before {
  content: '';
  display: block;
  width: 1px;
  height: 90vh;
  margin: 0 auto;
  background-color: var(--primary);
}

.listlinks li {
  margin-bottom: 24px;
}

.listlinks li:last-of-type {
  margin-bottom: 20px;
}

.listlinks a {
  padding: 10px;
  color: var(--light-gray);
  writing-mode: vertical-rl;
}

.listlinks a svg {
  width: 20px;
  height: 20px;
  stroke: var(--light-gray);
}

.listlinks a:hover,
.listlinks a:focus,
.listlinks a:hover svg,
.listlinks a:focus svg {
  stroke: var(--primary);
  color: var(--primary);
  transition: var(--transition-link);
  transform: translateY(-3px);
}
