section{
    max-width: 100%
}

.inner{
    display: flex;
}

.tablist{
    position: relative;
  z-index: 3;
  list-style: none;
  display: inherit;
  width: calc(100% + 50px);
}

button{
 display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--tab-height);
  padding: 0 15px 2px;
  background-color: transparent;
  font-size: 1em;
  font-weight: 500;
}

button:not(:first-of-type){
    border-left: 1px solid var(--white);
}

button:hover, button:focus{
    background-color: var(--primary-bg);
}

.tabpanels{
    position: relative;
    width: 100%;
    margin-left: 20px;
}

.tabpanel{
    width: 100%;
    height: auto;
    padding: 10px 5px;
}

.tapanel ul{
    padding: 0;
    margin: 0;
    list-style: square;
    font-size: 1rem;
}

.tabpanel li{
    position: relative;
    margin-bottom: 20px;
}

.tabpanel h3{
    margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
}

.tapanel h3 .company{
    color: var(--primary);
}

@media (max-width: 600px){
    .inner{
        display: block;
    }
    .tablist li:last-of-type{
        padding-right: 50px;
    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 120px;
        padding: 0 15px;
        border-left: 0;
        border-bottom: 2px solid var(--primary-opaque);
        text-align: center;
    }
    .tabpanels{
        margin-left: 0;
    }
}
@media (min-width: 700px){
        .inner{
        min-height: 50px;
    }
}    
@media (max-width: 480px) {
    .tablist li:last-of-type{
        padding-right: 25px;
    }
}