:root{
    --primary: #0c9ec2;
    --primary-light: #0cb0da;
    --primary-opaque: #0e90a76e;
    --white: #ffffff;
    --black: #000000;
    --gray: #818181;
    --light-gray: #9e9d9d;
    --transition-link: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}